/* General styles */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #291f1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	text-align: center;
}

h2 {
	font-size: 1.8em;
}

span {
	font-weight: 400;
	color: #1ac056;
}

section,
footer {
	padding-top: 30px;
	padding-bottom: 60px;
}

.container {
	display: flex;
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
	padding-top: 30px;
	flex-wrap: wrap;
}

.container .col-1-2 {
	flex-basis: 50%;
}

.container .col-1-3 {
	flex-basis: 33.33%;
}

p {
	line-height: 1.4;
}

figure {
	margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b3b3b3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b3b3b3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b3b3b3;
}

/* Menu styles */

.main-nav {
	position: fixed;
	background-color: #fff;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	z-index: 20;
}

.main-nav #drop {
	display: none;
}

.main-nav label {
	display: none;
}

.main-nav .menu-item {
	display: inline-block;
}

.main-nav .menu-item a {
	color: #1ac056;
	text-decoration: none;
	padding: 15px;
}

/* Header styles */

.main-header {
	background-image: url(../img/header-background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-header .main-header-content {
	color: #fff;
}

.main-header .main-header-content h1 {
	font-size: 4em;
}

.main-header .main-header-content h2 {
	font-size: 2em;
}

/* About me section */
.about-me {
	background-color: #f9fcfe;
}

.about-me .about-me-figure {
	text-align: center;
}

.about-me .about-me-figure img {
	max-height: 350px;
	border: 10px solid #fff;
	border-radius: 15px;
}

/*  Skills section */

.skills {
	text-align: center;
}

.skills .container-skills {
	justify-content: center;
	align-content: space-around;
}

.skills .skill-item {
	flex-basis: 20%;
}

.skills .skill-item i {
	font-size: 4em;
}

.skills .skill-item figcaption {
	margin-top: 15px;
}


/* Portfolio */

.portfolio {
	background-color: #f9fcfe;
}

.portfolio .portfolio-item {
	flex-basis: 33.3333%;
	height: 350px;
	position: relative;
	overflow: hidden;
	
}

.portfolio .portfolio-mask {
	position: absolute;
	background-color: rgba(33, 59, 80, 0.7);
	height: 100%;
	width: 100%;
	display: flex;
    align-items: center;
	opacity: 0;
	transition: all .3s;
	z-index: 10;
}

.portfolio .portfolio-item:hover .portfolio-mask {
	opacity: 1;
}

.portfolio .portfolio-content {
	color: #fff;
	text-align: center;
	padding: 15px;
	width: 100%;
}

.portfolio .portfolio-content h3,
.portfolio .portfolio-content h4 {
	font-weight: 700;
	margin: 0;
}

.portfolio .portfolio-content .portfolio-link {
	color: #1ac056;
	font-size: 2em;
	transition: all .3s;
}

.portfolio .portfolio-content .portfolio-link:hover {
	color: #fff;
}

.portfolio .portfolio-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all .3s;
}

.portfolio .portfolio-item:hover img {
	transform: scale(1.2);
}

/* Contact Footer */
.contact-footer {
	background-color: #213b50;
	color: #fff;
}

.contact-footer h2 {
	text-align: left;
	margin-top: 0;
}

.contact-footer address {
	font-style: normal;
	line-height: 1.4;
	margin-top: 45px;
}

.contact-footer address a {
	color: #1ac056;
	transition: all .3s;
	text-decoration: none;
}

.contact-footer address a:hover {
	color: #fff;
}

.contact-footer .social-icons {
	margin-top: 45px;
}

.contact-footer .social-icons a {
	color: #fff;
    border: 1px solid #fff;
    font-size: 2em;
    width: 50px;
    height: 50px;
    text-align: center;
	display: inline-block;
	line-height: 50px;
	margin-right: 10px;
	transition: all .3s;
}

.contact-footer .social-icons a:hover {
	background-color: #fff;
	color: #213b50;
}



.contact-footer .contact-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contact-footer .contact-form input:not([type="submit"]),
.contact-footer .contact-form textarea {
	background-color: #425869;
	border: none;
	padding: 10px;
	outline: none;
}

.contact-footer .contact-form input[type="submit"] {
	width: 25%;
	align-self: flex-end;
	background-color: #1ac056;
	color: #fff;
	text-transform: uppercase;
	padding: 15px;
	cursor: pointer;
	border: 1px solid #1ac056;
	transition: all .3s;
}

.contact-footer .contact-form input[type="submit"]:hover {
	background-color: #fff;
	color: #1ac056;
}



/*=========================*/
@media (max-width: 1170px) {
	.portfolio .portfolio-item {
		flex-basis: 50%;
	}
	
	.portfolio .portfolio-item:last-child {
		flex-basis: 100%;
	}
}


@media (max-width: 768px) {
	.container .col-1-2 {
		flex-basis: 100%;
	}
	
	.main-nav {
		display: block;
	}
	
	.main-nav .menu-item {
		display: block;
		padding: 15px;
		text-align: right;
	}
	
	.main-nav .menu-item a {
		padding-right: 0;
	}
	
	.main-nav label {
		display: block;
		font-size: 1.5em;
		color: #1ac056;
		text-align: right;
		padding: 15px;
	}

	.menu-list {
		display: none;
	}
	
	.main-nav #drop:checked + .menu-list {
		display: block;
	}
	
	.skills .skill-item {
		flex-basis: 50%;
		margin-bottom: 45px;
	}
	
	.portfolio .portfolio-item {
		flex-basis: 100%;
	}
	
	.contact-footer,
	.contact-footer h2 {
		text-align: center;
	}
	
	.contact-footer .social-icons {
		margin-bottom: 35px;
	}
	
	.contact-footer .contact-form input,
	.contact-footer .contact-form textarea {
		margin-bottom: 15px;
	}
}

@media (max-width: 480px) { 
	.skills .skill-item {
		flex-basis: 100%;
	}
}

textarea {
   resize: none;
}